html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  height: 100%;
}

html * {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/bkg.jpg') no-repeat center center;
  background-size: cover;
}

#bkg-img-credits {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate3d(-50%, 0, 0);
  color: #fff;
  line-height: 25px;
}

#bkg-img-credits a {
  color: #37ef22;
}

h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  font-family: 'Rammetto One';
}

.green {
  color: #37ef22;
  font-family: 'Rammetto One';
}

#box {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  box-sizing: border-box;
  margin: -36px 0 0 -36px;
  border-radius: 36px;
  border: 10px solid #37ef22;
  border-bottom: 6px solid transparent;
  animation: rotate-360 1s linear 0s infinite;
}

@keyframes rotate-360 {
  from {transform: rotate3d(0, 0, 1, 0deg);}
  to {transform: rotate3d(0, 0, 1, 360deg);}
}